
#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.cell {
    background-color: aqua;
    width: 25px;
    height: 25px;
}

.hover {
    background-color: bisque;
}