
:root {
    --grid-size: 16;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.cell {
    background-color: aqua;
    width: calc(100% / var(--grid-size));
    aspect-ratio: 1;
    box-sizing: border-box;
}

.hover {
    background-color: bisque;
}

#btn {
    background-color: pink;
    color: black;
    border-radius: 5%;
    border-style: none;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-weight: 600;
}